spring:
  application:
    name: api-gateway
eureka:
  client:
    service-url:
      defaultZone: http://localhost:8761/eureka/
zuul:
  routes:
  # /myProduct/product/list -> /product/product/list
    zhe-ge-di-fang-ming-zi-sui-bian:
      path: /myProduct/**
      serviceId: product
      sensitiveHeaders:
  #简洁写法
#    product: /myProduct/**
  #排除某些路由
  ignored-patterns:
    - /**/product/listForOrder
management:
  security:
    enabled: false
server:
  port: 8083